/* 合計蘭大框 */
.Cart {
  display: flex;
  justify-content: space-between;
  position: fixed;
  /* 不需要佔滿，兩邊留一點空隙 */
  width: 700rem;
  height: 80rem;
  background-color: #333;
  border-radius: 20px;
  z-index: 9999;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 30rem;
}
/* 一個收納袋圖標 */
.Icon {
  width: 80rem;
  position: absolute;
  /* 向上靠近一點點 */
  bottom: -6rem;
}
/* 修飾圖片尺寸 */
img {
  max-width: 100%;
  max-height: 100%;
}
/* 作為數量統計圖標 */
.TotalAmount {
  position: absolute;
  background-color: red;
  width: 36rem;
  height: 36rem;
  /* 直接作為垂直對齊 */
  line-height: 36rem;
  text-align: center;
  color: white;
  font-weight: bold;
  border-radius: 50%;
  font-size: 22rem;
  right: -10rem;
}
/* 價格 */
.Price {
  /* 用flex做垂直對齊 */
  display: flex;
  align-items: center;
  /* 左邊部分給金錢符號 */
  margin-left: 120rem;
  color: white;
  font-weight: bold;
  font-size: 36rem;
}
/* 直接作為彈性元素 */
.Price::before {
  content: "￥";
  font-size: 24rem;
}
/* 結算按鈕 */
.Button {
  background-color: #fcbf49;
  border: none;
  width: 200rem;
  border-radius: 20px;
  font-size: 36rem;
}
